.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Modal'ı ön plana al */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px; /* Modal genişliği */
  position: relative;
}

.button-delete {
  width: 100%;
  padding: 10px;
  background-color: #f32121;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-delete:hover {
  background-color: #c01919;
}

.button-close {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #f32121;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-close:hover {
  background-color: green;
}
